.login-form {
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -160px 0 0 -160px;
    width: 320px;
    height: 360px;
    padding: 36px;
    box-shadow: 0 0 100px rgba(0,0,0,.08);
}
.login-form input {
    margin-bottom: 24px;
}
.login-logo {
    margin-bottom: 24px;
}
.login-logo img {
    max-width: 100%;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 4px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 3px 11px;
}

.hoverable:hover li {
  background: #c6e5ff;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

#registration-review {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  overflow-y: scroll;
}

#registration-review tbody .ant-table-cell {
  font-size: 16px;
}