<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sane Tabber</title>
</head>
<body>

<div id="app">
    <div class="ant-spin-nested-loading">
        <div style="height:100vh;">
            <div class="ant-spin ant-spin-spinning ant-spin-show-text ant-spin-lg"><span
                    class="ant-spin-dot ant-spin-dot-spin"><i
                    class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i><i
                    class="ant-spin-dot-item"></i></span>
                <div class="ant-spin-text">Loading...</div>
            </div>
        </div>
    </div>
</div>

<!-- scripts and styles -->
{% style "/css/antd.css" %}
{% style "/css/screen.css" %}

<script type="text/javascript">
        var csrfToken = "{{csrf-token}}";

</script>
{% script "/js/app.js" %}
</body>
</html>
